:root {
  --_validColor: #08ed32;
  --_invalidColor: #e90a0a;
  --_standardColor: #fff;

  --_textColor: #fff;
  --_secondTextColor: rgba(255, 255, 255, 0.5);
  --_bgColor: #353333;
}

.sectForm {
  //margin: 2rem 0;
}

.contactForm {
  width: 100%;
  //max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    //margin: 2rem 0;
  }
}
.contactBlock {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  &--top {
    padding-top: 2rem;
  }
  &--bottom {
    padding-bottom: 2rem;
  }
}

//TO Change with Tilde =
.inputBox {
  position: relative;
  width: 100%; //! To change.
  padding: 3rem 0 0 0;

  &__input {
    width: 100%;
    height: 40px;
    // background: transparent;
    background: var(--_bgColor);
    color: var(--_textColor);
    //border: 1px solid red;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    //! To change.
    font-size: 1em;
    font-weight: 700;

    letter-spacing: 0.15em;
    padding: 0.5rem 1rem;

    &--uppercase {
      text-transform: uppercase;
    }
    &--textarea {
      height: 300px;
      line-height: 1.5rem;
    }
  }

  &__text {
    position: absolute;
    left: 5px;
    bottom: 0.4rem;
    color: var(--_secondTextColor);
    text-transform: uppercase;
    transform: translateX(1rem);
    transition: 0.3s transform ease-out;

    &--textarea {
      bottom: initial;
      top: 3.4rem;
    }
    // &:hover {
    //   color: aqua;
    //   transform: translateY(-2rem);
    //   transition: 0.3s transform ease-out;
    //   font-size: 0.65em;
    // }
  }

  &__alert {
    position: absolute;
    right: 0rem;
    top: 3rem;
    color: var(--_secondTextColor);

    transition: 0.3s all ease-out;
    opacity: 0;

    &--textarea {
      top: 50%;
    }

    &--number {
      top: initial;
      bottom: 1rem;
    }
  }

  //TO Change with Tilde = control same level
  &__input:valid ~ .inputBox__text,
  &__input:focus ~ .inputBox__text {
    //color: rgb(232, 25, 25);
    transform: translateY(-2.1rem);
    transition: 0.3s transform ease-out;
    font-size: 0.8em;
    font-style: italic;
  }

  &__input:focus ~ .inputBox__alert {
    color: var(--_standardColor);
    //* put in black in Light mode.
    opacity: 1;
    transform: translateY(2.4rem);
    transition: 0.3s all ease-out;
    font-size: 0.8em;

    &--valid {
      color: var(--_validColor);
      //* put in black in Light mode.
    }
    &--textarea {
      transform: translateY(-9.5rem);
    }
  }

  &__input:focus ~ .inputBox__alert--error {
    color: rgb(252, 9, 9);
  }

  &__input:valid,
  &__input:focus {
    border-radius: 0.5rem 0.5rem 0 0;
    transition: 0.3s all ease-out;
  }

  &__input:valid ~ i,
  &__input:focus ~ i {
    width: 100%;
    transition: 0.3s all ease-out;
  }
}

.validInput {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: var(--_standardColor);
  transition: 0.3s all ease-out;
  //padding: 0 1rem;

  &--valid {
    background: var(--_validColor);
    transition: 0.3s all ease-out;
  }
  &--invalid {
    background: var(--_invalidColor);
    transition: 0.3s all ease-out;
  }
}

.buttonOnComplete {
  margin: 2rem 0 5rem 0;
}

@media (max-width: 400px) {
  //in media:
  .inputBox__input--textarea {
    margin-top: 3rem;
  }
  .inputBox:nth-child(1) {
    padding: 0 0 0 0;
  }
}
@media (min-width: 800px) {
  .contactForm {
    padding: 0 5vw;
    &__container {
      flex-direction: row;
    }
  }
  .contactBlock {
    &--top {
      padding-top: 0rem;
    }
    &--bottom {
      padding-bottom: 0rem;
    }
  }
  .buttonOnComplete {
    margin: 4rem 0 5rem 0;
  }
}
@media (min-width: 1580px) {
  .article__sub {
    padding: 5vh 15vw;
    //border: 1px solid red;
  }
}

#light {
  & .inputBox {
    --_validColor: #06ab24;
    --_standardColor: #7f8080;
    --_bgColor: #f5f5f5;
    --_textColor: #353333;
    --_secondTextColor: #7f8080;
  }

  & .validInput {
    --_validColor: #06ab24;
    --_standardColor: #7f8080;
  }
}

// #dark {
// }
