.contactForm {
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2rem 0;
  }
}
.contactBlock {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  &--top {
    padding-top: 2rem;
  }
  &--bottom {
    padding-bottom: 2rem;
  }

  &__lign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 0.5rem 2rem;

    &--fullHeight {
      height: 13rem;
    }

    & label {
      width: calc(140px + 2vw);
    }
    & input {
      position: relative;
      width: 100%;
      height: 96%;

      background: transparent;
      border: none;
      cursor: pointer;
      padding-left: 1rem;
    }

    & textarea {
      position: relative;
      width: 100%;
      height: 96%;

      background: transparent;
      border: none;
      border-left: 2px solid rgb(195, 183, 183);
      cursor: pointer;
      padding-left: 1rem;
    }
  }
}

@media (min-width: 800px) {
  .contactForm__container {
    flex-direction: row;
  }
  .contactBlock {
    &--top {
      padding-top: 0rem;
    }
    &--bottom {
      padding-bottom: 0rem;
    }
  }
}

//lightMode :
#light .contactBlock__lign {
  background: $color_page_bg_2_light;
  color: $color_page_bg_1_dark;

  & input {
    border-left: 2px solid $color_page_bg_1_dark;
    color: $textColor_light;
  }
}

#light {
  & #purple .contactBlock__lign input:focus {
    outline: none !important;
    border: 3px solid $colorTheme_purple-light;
  }
  & #yellow .contactBlock__lign input:focus {
    outline: none !important;
    border: 3px solid $colorTheme_yellow-light;
  }
  & #green .contactBlock__lign input:focus {
    outline: none !important;
    border: 3px solid $colorTheme_green-light;
  }
  & #blue .contactBlock__lign input:focus {
    outline: none !important;
    border: 3px solid $colorTheme_blue-light;
  }
  & #red .contactBlock__lign input:focus {
    outline: none !important;
    border: 3px solid $colorTheme_red-light;
  }
}

//darkMode :
#purple .contactBlock__lign input:focus {
  outline: none !important;
  border: 3px solid $colorTheme_purple;
}
#yellow .contactBlock__lign input:focus {
  outline: none !important;
  border: 3px solid $colorTheme_yellow;
}
#green .contactBlock__lign input:focus {
  outline: none !important;
  border: 3px solid $colorTheme_green;
}
#blue .contactBlock__lign input:focus {
  outline: none !important;
  border: 3px solid $colorTheme_blue;
}
#red .contactBlock__lign input:focus {
  outline: none !important;
  border: 3px solid $colorTheme_red;
}

#dark .contactBlock__lign {
  background: $color_page_bg_1_dark;
  color: $color_page_bg_1_light;

  & input {
    border-left: 2px solid $color_page_bg_1_light;
    color: $textColor_dark;
  }
}

/* Mise en forme de la balise select*/
select {
  width: 100%;
  height: 96%;
  appearance: none;
  outline: none;
  border: none;

  //background: $color_page_bg_1_dark;

  background-image: none;
  box-shadow: none;
  font-size: 0.9rem;
  padding-left: 15px;
  cursor: pointer;
}

#light select {
  background: none;
}
#dark select {
  background: $color_page_bg_1_dark;
}

/* Mise en forme de la div .select*/
.selectTest {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-size: 1rem;
}

#light .selectTest {
  color: $textColor_light;
  border-left: 2px solid $color_page_bg_1_dark;
}
#dark .selectTest {
  color: $textColor_dark;
  border-left: 2px solid $color_page_bg_1_light;
}

/* Mise en place de la flèche */
.selectTest::after {
  content: "\276F";
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  width: auto;
  height: 100%;
  pointer-events: none;
  transform: rotate(90deg);
  font-size: 1.5rem;
  background: transparent;
}

#light {
  & #red .selectTest:hover::after {
    color: $colorTheme_red-light;
  }
  & #purple .selectTest:hover::after {
    color: $colorTheme_purple-light;
  }
  & #yellow .selectTest:hover::after {
    color: $colorTheme_yellow-light;
  }
  & #green .selectTest:hover::after {
    color: $colorTheme_green-light;
  }
  & #blue .selectTest:hover::after {
    color: $colorTheme_blue-light;
  }
}
#red .selectTest:hover::after {
  color: $colorTheme_red;
}
#purple .selectTest:hover::after {
  color: $colorTheme_purple;
}
#yellow .selectTest:hover::after {
  color: $colorTheme_yellow;
}
#green .selectTest:hover::after {
  color: $colorTheme_green;
}
#blue .selectTest:hover::after {
  color: $colorTheme_blue;
}
