.loaderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loaderS {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 4rem 0;

  &__animated {
    margin-right: 1rem;
    width: 50px;
    stroke-width: 0;
    height: auto;
    animation: rotatelogo 1.3s linear infinite;
  }
}

.fullLoaderPage {
  --_duration: 1.5s;
  --_container-size: 250px;
  --_box-size: 33px;
  --_box-border-radius: 15%;
  width: var(--_container-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.fullLoaderPage__element {
  width: var(--_box-size);
  height: var(--_box-size);
  position: relative;
  display: block;
  transform-origin: -50% center;
  border-radius: var(--_box-border-radius);

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    border-radius: var(--_box-border-radius);
    box-shadow: 0px 0px 10px 0px rgba(#1c9fff, 0.4);
  }

  &:nth-child(1) {
    animation: slide var(--_duration) ease-in-out infinite alternate;
    &:after {
      animation: color-change var(--_duration) ease-in-out infinite alternate;
    }
  }

  @for $i from 1 to 5 {
    &:nth-child(#{$i + 1}) {
      animation: flip-#{$i} var(--_duration) ease-in-out infinite alternate;
    }
  }

  &:nth-child(2):after {
    background-color: #1c9fff;
  }
  &:nth-child(3):after {
    background-color: #1fb1fd;
  }
  &:nth-child(4):after {
    background-color: #22c7fb;
  }
  &:nth-child(5):after {
    background-color: #23d3fb;
  }
}

@keyframes slide {
  0% {
    background-color: #1795ff;
    transform: translatex(0vw);
  }
  100% {
    background-color: #23d3fb;
    transform: translatex(
      calc(var(--_container-size) - (var(--_box-size) * 1.25))
    );
  }
}

@keyframes color-change {
  0% {
    background-color: #1795ff;
  }
  100% {
    background-color: #23d3fb;
  }
}

@keyframes flip-1 {
  0%,
  16% {
    transform: rotate(0);
  }

  36%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes flip-2 {
  0%,
  31% {
    transform: rotate(0);
  }

  51%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes flip-3 {
  0%,
  46% {
    transform: rotate(0);
  }

  66%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes flip-4 {
  0%,
  61% {
    transform: rotate(0);
  }

  81%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes flip-5 {
  0%,
  76% {
    transform: rotate(0);
  }

  96%,
  100% {
    transform: rotate(-180deg);
  }
}

#light {
  #blue .loaderColor {
    fill: $colorTheme_blue-light;
    stroke: black;
    stroke-width: 0.5px;
  }
  #yellow .loaderColor {
    fill: $colorTheme_yellow-light;
    stroke: black;
    stroke-width: 0.5px;
  }
  #green .loaderColor {
    fill: $colorTheme_green-light;
    stroke: black;
    stroke-width: 0.5px;
  }
  #red .loaderColor {
    fill: $colorTheme_red-light;
    stroke: black;
    stroke-width: 0.5px;
  }
  #purple .loaderColor {
    fill: $colorTheme_purple-light;
    stroke: black;
    stroke-width: 0.5px;
  }
}
//for darkmode :
#blue .loaderColor {
  fill: $colorTheme_blue;
  stroke: $colorTheme_blue;
}
#yellow .loaderColor {
  fill: $colorTheme_yellow;
  stroke: $colorTheme_yellow;
}
#green .loaderColor {
  fill: $colorTheme_green;
  stroke: $colorTheme_green;
}
#red .loaderColor {
  fill: $colorTheme_red;
  stroke: $colorTheme_red;
}
#purple .loaderColor {
  fill: $colorTheme_purple;
  stroke: $colorTheme_purple;
}

.dotsAnimation {
  opacity: 0;
  animation: dotsAnimated 1.3s infinite;
  &:nth-child(1) {
    animation-delay: 0s;
  }
  &:nth-child(2) {
    animation-delay: 0.25s;
  }
  &:nth-child(3) {
    animation-delay: 0.5s;
  }
}
@keyframes dotsAnimated {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotatelogo {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(120deg);
  }
  54% {
    transform: rotate(240deg);
  }
  81% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
