.newHeader {
  --_labelSize: clamp(63px, 19vw, 160px);
  --_jawaBtnSize: clamp(3.8rem, 3.5rem + 2vw, 4.5rem);
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-3.7rem);

  padding: 0 0.5rem;
  transition: transform 0.8s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: calc(((100vw - var(--_jawaBtnSize)) / 1.92));
    height: 2rem;
    bottom: 0rem;
    z-index: 99;
    border-bottom: none;
  }

  &::after {
    border-top-right-radius: 5rem 4rem;
    left: 0;
  }

  &::before {
    right: 0;
    border-top-left-radius: 5rem 4rem;
  }

  &__alignText {
    transform: translateY(2.5rem);
    text-align: center;
  }

  &__btn {
    position: relative;
    border-radius: 50%;
    //margin-bottom: 2rem;

    cursor: pointer;
    &--small {
      height: 3.2rem;
      width: 3.2rem;
      padding: 0.6rem;
    }
    &--big {
      height: var(--_jawaBtnSize);
      width: var(--_jawaBtnSize);
      padding: 0.1rem;
      transform: translateY(4rem);
      z-index: 200;
    }

    & svg path {
      fill: rgba($textColor_dark, 0.1);
    }
  }

  &__navigation {
    width: 100%;
    height: auto;
    height: 150px;

    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &--lign {
        width: var(--_labelSize);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
          font-size: 1.05rem;
          color: rgba($textColor_dark, 0.2);
          transform: translateY(10px);
          z-index: 299;
        }
      }
      &--reverseLign {
        width: var(--_labelSize);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p {
          font-size: 1.05rem;
          color: rgba($textColor_dark, 0.2);
          transform: translateY(10px);
          z-index: 299;
        }

        &:hover > p {
          color: rgba($textColor_dark, 0.8);
        }
        &:hover .newHeader__icon path {
          fill: rgba($textColor_dark, 0.8);
        }
      }
      &--centerLign {
        width: var(--_labelSize);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        & p {
          font-size: 1.05rem;
          color: rgba($textColor_dark, 0.2);
        }

        &:hover > p {
          color: rgba($textColor_dark, 0.8);
        }
        &:hover .newHeader__icon path {
          fill: rgba($textColor_dark, 0.8);
        }
      }
    }
  }

  &__hiddenPart {
    --_controlHeader: 10%;
    position: fixed;
    transform: translateY(-4.2rem);
    top: 5.8rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    //transform: translateY(2.4rem);
    z-index: 1;
  }
}
@media (min-width: 501px) {
  .newHeader:hover {
    transform: translateY(0rem);
  }
}

@media (min-width: 800px) {
  .newHeader {
    height: 120px;
    transform: translateY(-4.8rem);
    &::before,
    &::after {
      content: "";
      width: calc(((100vw - var(--_jawaBtnSize)) / 2));
    }
  }
  .newHeader__btn--big {
    height: 5rem;
    width: 5rem;
    padding: 0.2rem;

    transform: translateY(4rem);
    z-index: 200;
  }
  .newHeader__navigation__list--reverseLign {
    width: var(--_labelSize);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    & p {
      transform: translateY(0rem);
    }
  }
  .newHeader__navigation__list--lign {
    width: var(--_labelSize);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    & p {
      transform: translateY(0rem);
    }
  }
}

#light {
  & .newHeader {
    background: linear-gradient(
      90deg,
      rgb(210, 205, 208) 0%,
      rgb(166, 163, 169) 100%
    );

    &__btn {
      border: 2px #5e5a5a solid;
      background: linear-gradient(145deg, #c8c2c2, #b9bcc0);
      box-shadow: inset 2px 2px 2px #e0dae4, inset 2px 2px 0px #f3eeee;
    }
    &__icon path {
      //fill: white;
      fill: $textColor_light;
    }

    &:after {
      background: linear-gradient(179deg, #9a9aa3 0%, #b7b7c2 100%);
    }
    &:before {
      background: linear-gradient(181deg, #9a9aa3 0%, #b7b7c2 100%);
    }
    &__navigation__list--lign p,
    &__navigation__list--centerLign p,
    &__navigation__list--reverseLign p {
      color: rgba($textColor_light, 0.8);
    }

    &__navigation__list--lign:hover > p,
    &__navigation__list--centerLign:hover > p,
    &__navigation__list--reverseLign:hover > p {
      //color: red;
      color: rgba($textColor_dark, 0.8);
    }

    &__navigation__list--lign:hover .newHeader__icon path,
    &__navigation__list--centerLign:hover .newHeader__icon path,
    &__navigation__list--reverseLign:hover .newHeader__icon path {
      fill: rgba($textColor_dark, 0.8);
    }
  }
  & .newHeader__hiddenPart {
    background: linear-gradient(#b4b4be 20%, transparent 60%);
    pointer-events: none;
  }
}
#dark {
  & .newHeader {
    background: linear-gradient(
      90deg,
      rgba(46, 44, 45, 1) 0%,
      rgb(66, 64, 67, 1) 100%
    );
    box-shadow: inset 2px 2px 2px #7d7c7e, inset 2px 2px 0px #1c1c1c;

    &::after {
      border-top: 2px #121213 solid;
      border-right: 2px #121213 solid;
      background: linear-gradient(179deg, #221e1e 20%, #322f2f 80%);
    }

    &::before {
      border-top: 2px #0e0e14 solid;
      border-left: 2px #0e0e14 solid;
      background: linear-gradient(181deg, #221e1e 20%, #322f2f 80%);
    }
    &__btn {
      border: 2px #090909 solid;
      background: linear-gradient(145deg, #171717, #444245);
      box-shadow: inset 2px 2px 2px #7d7c7e, inset 2px 2px 0px #1c1c1c;

      &__span svg {
        fill: rgba($textColor_dark, 0.4);
      }
    }
    &__navigation__list--lign p,
    &__navigation__list--centerLign p,
    &__navigation__list--reverseLign p {
      color: rgba($textColor_dark, 0.4);
    }

    &__navigation__list--lign:hover > p,
    &__navigation__list--centerLign:hover > p,
    &__navigation__list--reverseLign:hover > p {
      //color: red;
      color: rgba($textColor_dark, 0.8);
    }

    &__navigation__list--lign:hover .newHeader__icon path,
    &__navigation__list--centerLign:hover .newHeader__icon path,
    &__navigation__list--reverseLign:hover .newHeader__icon path {
      fill: rgba($textColor_dark, 0.8);
    }
  }
  & .newHeader__hiddenPart {
    background: linear-gradient(#322c2c 20%, transparent 60%);
    pointer-events: none;
  }
}

#light {
  #green {
    & .activePage p {
      color: $colorTheme_green-light !important;
    }
    & .activePage svg path {
      fill: $colorTheme_green-light !important;
    }
  }
  #red {
    & .activePage p {
      color: $colorTheme_red-light !important;
    }
    & .activePage svg path {
      fill: $colorTheme_red-light !important;
    }
  }
  #blue {
    & .activePage p {
      color: $colorTheme_blue-light !important;
    }
    & .activePage svg path {
      fill: $colorTheme_blue-light !important;
    }
  }
  #yellow {
    & .activePage p {
      color: $colorTheme_yellow-light !important;
    }
    & .activePage svg path {
      fill: $colorTheme_yellow-light !important;
    }
  }
  #purple {
    & .activePage p {
      color: $colorTheme_purple-light !important;
    }
    & .activePage svg path {
      fill: $colorTheme_purple-light !important;
    }
  }
}

//! darkMode :
#green {
  & .activePage p {
    color: $colorTheme_green !important;
  }
  & .activePage svg path {
    fill: $colorTheme_green !important;
  }
}
#red {
  & .activePage p {
    color: $colorTheme_red !important;
  }
  & .activePage svg path {
    fill: $colorTheme_red !important;
  }
}
#blue {
  & .activePage p {
    color: $colorTheme_blue !important;
  }
  & .activePage svg path {
    fill: $colorTheme_blue !important;
  }
}
#yellow {
  & .activePage p {
    color: $colorTheme_yellow !important;
  }
  & .activePage svg path {
    fill: $colorTheme_yellow !important;
  }
}
#purple {
  & .activePage p {
    color: $colorTheme_purple !important;
  }
  & .activePage svg path {
    fill: $colorTheme_purple !important;
  }
}

.menuText {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  align-self: flex-end;
  &::after {
    content: "";
    width: 0px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 80px;

    transition: all 0.2s ease-in-out;
  }
}

//for darkTheme colors menuText::after

#green .menuText {
  &::after {
    background: $colorTheme_green;
  }
}
#blue .menuText {
  &::after {
    background: $colorTheme_blue;
  }
}
#yellow .menuText {
  &::after {
    background: $colorTheme_yellow;
  }
}
#purple .menuText {
  &::after {
    background: $colorTheme_purple;
  }
}
#red .menuText {
  &::after {
    background: $colorTheme_red;
  }
}

//for lightTheme Colors menuText::after
#light {
  & #green .menuText {
    &::after {
      background: $colorTheme_green-light;
    }
  }
  & #blue .menuText {
    &::after {
      background: $colorTheme_blue-light;
    }
  }
  & #yellow .menuText {
    &::after {
      background: $colorTheme_yellow-light;
    }
  }
  & #purple .menuText {
    &::after {
      background: $colorTheme_purple-light;
    }
  }
  & #red .menuText {
    &::after {
      background: $colorTheme_red-light;
    }
  }
}
.headerHover {
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: fixed;
  z-index: 99;
  background: linear-gradient(
    -90deg,
    rgba(37, 37, 37, 0) 20%,
    rgba(0, 0, 0, 0) 80%
  );
  transition: all 0.5s 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(
      -90deg,
      rgba(37, 37, 37, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 100vh;
    transition: all 0.5s ease-in-out;
  }

  &:hover .jawaLogo__icon {
    scale: 0.8;
    transform: rotateZ(-90deg);
    transition: all 0.5s 0.2s ease-in-out;

    &--default {
      opacity: 0;
      transition: all 0.5s 0.2s ease-in-out;
    }
  }
  &:hover .anime {
    &--home {
      opacity: 1;
      transform: translateX(-16px);
      transition: all 0.5s 0s ease-in-out;
    }
    &--about {
      opacity: 1;
      transform: translateX(-16px);
      transition: all 0.5s 0.1s ease-in-out;
    }
    &--services {
      opacity: 1;
      transform: translateX(-16px);
      transition: all 0.5s 0.2s ease-in-out;
    }
    &--projects {
      opacity: 1;
      transform: translateX(-16px);
      transition: all 0.5s 0.3s ease-in-out;
    }
    &--contact {
      opacity: 1;
      transform: translateX(-16px);
      transition: all 0.5s 0.4s ease-in-out;
    }
  }
  &:hover .jawaLogo__text {
    &--noHover {
      opacity: 0;
      scale: 0;
      transform: translateY(-32px);
      transition: all 0.3s 0.2s linear;
    }
    &--hover {
      opacity: 1;
      scale: 1.1;
      transform: translateY(-32px) translateX(20px);
      transition: all 0.3s 0.2s linear;
    }
  }
}
.jawaLogo {
  width: 80%;
}

.jawaLogo__icon {
  width: auto;
  height: auto;
  position: relative;
  transform: rotateZ(0deg);
  //fill: $textColor_dark;
  scale: 0.9;
  transition: all 0.5s 0.2s ease-in-out;

  &--default {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    fill: $textColor_dark;
    opacity: 1;
    transition: all 0.5s 0.2s ease-in-out;
  }
  &--green {
    fill: $colorTheme_green;
  }
  &--red {
    fill: $colorTheme_red;
  }
  &--blue {
    fill: $colorTheme_blue;
  }
  &--yellow {
    fill: $colorTheme_yellow;
  }
  &--purple {
    fill: $colorTheme_purple;
  }
}

#light {
  .jawaLogo__icon {
    &--default {
      fill: $textColor_light;
    }
    &--green {
      fill: $colorTheme_green-light;
    }
    &--red {
      fill: $colorTheme_red-light;
    }
    &--blue {
      fill: $colorTheme_blue-light;
    }
    &--yellow {
      fill: $colorTheme_yellow-light;
    }
    &--purple {
      fill: $colorTheme_purple-light;
    }
  }
  .headerHover {
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 80%
    );
    &:hover {
      background: linear-gradient(
        -90deg,
        rgb(255, 255, 255) 40%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

.globalNav__list__lign {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  height: 8vh;
  &:hover .menuText::after {
    width: 30px;
    transition: all 0.2s ease-in-out;
  }
  &:hover .menuText {
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.anime {
  &--home {
    transform: translateX(-130px);
    transition: all 0.5s 0.4s ease-in-out;
  }
  &--about {
    transform: translateX(-130px);
    transition: all 0.5s 0.3s ease-in-out;
  }
  &--services {
    transform: translateX(-130px);
    transition: all 0.5s 0.2s ease-in-out;
  }
  &--projects {
    transform: translateX(-130px);
    transition: all 0.5s 0.1s ease-in-out;
  }
  &--contact {
    transform: translateX(-130px);
    transition: all 0.5s 0s ease-in-out;
  }
}

.jawaLogo__text {
  width: 100%;
  position: relative;
  text-align: center;
  transform: translateY(-12px);

  &--noHover {
    opacity: 1;
    scale: 1;
    transition: all 0.5s 0.2s ease-in-out;
  }
  &--hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    scale: 0;
    transition: all 0.5s 0.2s ease-in-out;
  }
}

@media (max-width: 800px) {
  .jawaLogo {
    max-width: 80px;
  }
  .jawaLogo__text {
    //transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  .headerHover {
    width: 80px;
    height: 90px;
    background: linear-gradient(
      -145deg,
      rgba(37, 37, 37, 1) 20%,
      rgba(0, 0, 0, 0) 80%
    );

    &:hover {
      width: 60vw;
      background: linear-gradient(
        -145deg,
        rgba(37, 37, 37, 1) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  #light {
    .headerHover {
      background: linear-gradient(
        -145deg,
        rgba(255, 255, 255, 0.5) 20%,
        rgba(255, 255, 255, 0) 100%
      );
      border-bottom-right-radius: 1rem;
      &:hover {
        background: linear-gradient(
          -145deg,
          rgb(255, 255, 255) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        border-bottom-right-radius: 0rem;
      }
    }
  }
  .menuText {
    align-self: center;
    scale: 1.8;
    margin-bottom: 5vh;
  }
  // .anime {
  //   &--home {
  //     opacity: 0;
  //     transition: all 0s 0s ease-in-out;
  //   }
  //   &--about {
  //     opacity: 0;
  //     transition: all 0s 0s ease-in-out;
  //   }
  //   &--services {
  //     opacity: 0;
  //     transition: all 0s 0s ease-in-out;
  //   }
  //   &--projects {
  //     opacity: 0;
  //     transition: all 0s 0s ease-in-out;
  //   }
  //   &--contact {
  //     opacity: 0;
  //     transition: all 0s 0s ease-in-out;
  //   }
  // }
  .globalNav__list__lign {
    min-height: 80px;
    height: 12vh;
  }
}
