.sectContact {
  width: 100%;
  min-height: 50vh;

  &__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    //flex-wrap: wrap;
    gap: 2vw;
    margin: 2rem 0;
  }
}

.titleAndSubTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  //margin-bottom: 2rem;

  & h2 {
    height: auto;
    padding: 0 0 1rem 0;
  }
  & p {
    padding-bottom: 1rem;
  }
}

.contactBlocks {
  width: 30vw;
  max-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 1rem;

  & h3 {
    //padding: 2rem 0 0 0;
  }
  & p {
    //padding: 1rem;
  }
}

// dark/light Mode :
#light .contactBlocks {
  //background: $color_header_bg_1_light;
  color: $textColor_light;
}
#dark .contactBlocks {
  //background: $color_header_bg_2_dark;
  color: $textColor_dark;
}
//Color Theme :

#light {
  & #green .colorIcon {
    fill: $colorTheme_green-light;
    stroke: $colorTheme_green-light;
  }
  & #yellow .colorIcon {
    fill: $colorTheme_yellow-light;
    stroke: $colorTheme_yellow-light;
  }
  & #blue .colorIcon {
    fill: $colorTheme_blue-light;
    stroke: $colorTheme_blue-light;
  }
  & #purple .colorIcon {
    fill: $colorTheme_purple-light;
    stroke: $colorTheme_purple-light;
  }
  & #red .colorIcon {
    fill: $colorTheme_red-light;
    stroke: $colorTheme_red-light;
  }
}

//darkmode :
#green .colorIcon {
  fill: $colorTheme_green;
  stroke: $colorTheme_green;
}
#yellow .colorIcon {
  fill: $colorTheme_yellow;
  stroke: $colorTheme_yellow;
}
#blue .colorIcon {
  fill: $colorTheme_blue;
  stroke: $colorTheme_blue;
}
#purple .colorIcon {
  fill: $colorTheme_purple;
  stroke: $colorTheme_purple;
}
#red .colorIcon {
  fill: $colorTheme_red;
  stroke: $colorTheme_red;
}

@media (max-width: 800px) {
  .sectContact__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-bottom: 2rem;
  }
  .contactBlocks {
    width: 100vw;
    padding: 0rem;

    & h3 {
      padding: 0;
    }
    & p {
      padding: 0;
    }

    &:nth-child(2) {
      display: none;
    }
  }
}
