.sectionTitle {
  width: 100%;
  height: calc(60px + 1vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -1rem;
  margin-bottom: 10vh;

  &__container {
    position: relative;
    width: auto;
    padding: 1rem;

    & h1 {
      color: $textColor_dark;
    }

    & h1::after,
    & h1::before {
      content: "";
      position: absolute;
      left: 0;
      height: 3px;
      transform: translateX(1rem);
    }

    & h1::after {
      bottom: calc(-3px + -1.5vw);
      width: 5vw;
    }
    & h1::before {
      bottom: calc(5px + -1.5vw);
      width: 8vw;
    }
  }
}

#light .sectionTitle__container h1 {
  color: $textColor_light;
}

#dark .sectionTitle__container h1 {
  color: $textColor_dark;
}

#light {
  & #green .sectionTitle__container h1:before,
  & #green .sectionTitle__container h1:after {
    background: $colorTheme_green-light;
  }
  & #purple .sectionTitle__container h1:before,
  & #purple .sectionTitle__container h1:after {
    background: $colorTheme_purple-light;
  }
  & #blue .sectionTitle__container h1:before,
  & #blue .sectionTitle__container h1:after {
    background: $colorTheme_blue-light;
  }
  & #yellow .sectionTitle__container h1:before,
  & #yellow .sectionTitle__container h1:after {
    background: $colorTheme_yellow-light;
  }
  & #red .sectionTitle__container h1:before,
  & #red .sectionTitle__container h1:after {
    background: $colorTheme_red-light;
  }
}

//DarkMode :
#green .sectionTitle__container h1:before,
#green .sectionTitle__container h1:after {
  background: $colorTheme_green;
}
#purple .sectionTitle__container h1:before,
#purple .sectionTitle__container h1:after {
  background: $colorTheme_purple;
}
#blue .sectionTitle__container h1:before,
#blue .sectionTitle__container h1:after {
  background: $colorTheme_blue;
}
#yellow .sectionTitle__container h1:before,
#yellow .sectionTitle__container h1:after {
  background: $colorTheme_yellow;
}
#red .sectionTitle__container h1:before,
#red .sectionTitle__container h1:after {
  background: $colorTheme_red;
}

@media (max-width: 600px) {
  .sectionTitle {
    margin-top: 1rem;
  }
}
