.aboutConfig {
  padding: 80px 4vw 50px 4vw;
  &--single {
    height: auto;
    max-height: 130vh;
  }
}

//* for tablet :
@media (min-width: 600px) {
  .aboutConfig {
    padding: 60px 8vw 50px 8vw;
    &--single {
      height: auto;
      max-height: 180vh;
    }
  }
}

//* for tablet :
@media (min-width: 1100px) {
  .aboutConfig {
    padding: 50px 10vw 50px 10vw;
  }
}

//* for tablet :
// @media (min-width: 1100px) {
//   .aboutConfig {
//     padding-top: 0px 6vw;
//   }
// }
