.home {
  width: auto;
  overflow: hidden;
  padding-bottom: 2rem;

  &__section {
    // border: solid 2px red;
    width: 100%;
    padding: 0px 5vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    // margin-top: auto;
    // margin-bottom: auto;

    &__article {
      min-height: 45vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: justify;
      margin-top: 2rem;

      & button {
        margin: 5rem auto 2rem auto;
      }
    }

    &__aside {
      width: auto;
      min-width: 150px;
      height: auto;
      padding: 0rem 2rem 2rem 2rem;
      position: relative;
      //margin: 5rem 0 0 0;
      scale: 0.9;
    }
  }
  &__subSection {
    padding: 2rem 0 0rem 0;
  }
}

.article {
  padding: 1.5rem;

  &__sub {
    padding: 2rem 10vw 0rem 10vw;
  }
}

.subSection {
  width: 100%;
  //height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin: 2rem 0;

  &__title {
    padding: 0 10vw;
  }

  &__top {
    width: 100vw;
    //transform: translate(-30%, 10px);
    opacity: 0.2;
  }
  &__bottom {
    width: 100vw;
    //transform: translate(60%, -10px);
    opacity: 0.1;
  }
}

.corner {
  --_sizeCorner: 100px;
  position: absolute;

  width: var(--_sizeCorner);
  height: var(--_sizeCorner);
  background: transparent;

  border-radius: 0.3rem;

  &__TopLeft {
    bottom: 15px;
    left: -30px;
    opacity: 0.5;
  }
  &__BottomRight {
    bottom: -20px;
    left: 10px;
  }
}

#light {
  #green .corner {
    &__TopLeft {
      box-shadow: 0 0 12px 0 $colorTheme_green-light;
      border: 4px solid $colorTheme_green-light;
    }
    &__BottomRight {
      border: 2.5px solid $colorTheme_green-light;
    }
  }
  #blue .corner {
    &__TopLeft {
      box-shadow: 0 0 12px 0 $colorTheme_blue-light;
      border: 4px solid $colorTheme_blue-light;
    }
    &__BottomRight {
      border: 2.5px solid $colorTheme_blue-light;
    }
  }
  #red .corner {
    &__TopLeft {
      box-shadow: 0 0 12px 0 $colorTheme_red-light;
      border: 4px solid $colorTheme_red-light;
    }
    &__BottomRight {
      border: 2.5px solid $colorTheme_red-light;
    }
  }
  #yellow .corner {
    &__TopLeft {
      box-shadow: 0 0 12px 0 $colorTheme_yellow-light;
      border: 4px solid $colorTheme_yellow-light;
    }
    &__BottomRight {
      border: 2.5px solid $colorTheme_yellow-light;
    }
  }
  #purple .corner {
    &__TopLeft {
      box-shadow: 0 0 12px 0 $colorTheme_purple-light;
      border: 4px solid $colorTheme_purple-light;
    }
    &__BottomRight {
      border: 2.5px solid $colorTheme_purple-light;
    }
  }
}

#green .corner {
  &__TopLeft {
    box-shadow: 0 0 12px 0 $colorTheme_green;
    border: 4px solid $colorTheme_green;
  }
  &__BottomRight {
    border: 2.5px solid $colorTheme_green;
  }
}
#blue .corner {
  &__TopLeft {
    box-shadow: 0 0 12px 0 $colorTheme_blue;
    border: 4px solid $colorTheme_blue;
  }
  &__BottomRight {
    border: 2.5px solid $colorTheme_blue;
  }
}
#red .corner {
  &__TopLeft {
    box-shadow: 0 0 12px 0 $colorTheme_red;
    border: 4px solid $colorTheme_red;
  }
  &__BottomRight {
    border: 2.5px solid $colorTheme_red;
  }
}
#yellow .corner {
  &__TopLeft {
    box-shadow: 0 0 12px 0 $colorTheme_yellow;
    border: 4px solid $colorTheme_yellow;
  }
  &__BottomRight {
    border: 2.5px solid $colorTheme_yellow;
  }
}
#purple .corner {
  &__TopLeft {
    box-shadow: 0 0 12px 0 $colorTheme_purple;
    border: 4px solid $colorTheme_purple;
  }
  &__BottomRight {
    border: 2.5px solid $colorTheme_purple;
  }
}

.picture__container {
  position: relative;
  width: 150px;
  min-width: 200px;
  height: 230px;
  overflow: hidden;
  border-radius: 0.3rem;

  & img {
    object-fit: cover;
    transform: translateY(-35px);
  }
}

#light .picture__container img {
  transform: translateY(-20px);
}
#light {
  #green .picture__container {
    border: 0.5px solid $colorTheme_green-light;
  }
  #purple .picture__container {
    border: 0.5px solid $colorTheme_purple-light;
  }
  #yellow .picture__container {
    border: 0.5px solid $colorTheme_yellow-light;
  }
  #blue .picture__container {
    border: 0.5px solid $colorTheme_blue-light;
  }
  #red .picture__container {
    border: 0.5px solid $colorTheme_red-light;
  }
}
//Dark mode :
#green .picture__container {
  border: 0.5px solid $colorTheme_green;
}
#purple .picture__container {
  border: 0.5px solid $colorTheme_purple;
}
#yellow .picture__container {
  border: 0.5px solid $colorTheme_yellow;
}
#blue .picture__container {
  border: 0.5px solid $colorTheme_blue;
}
#red .picture__container {
  border: 0.5px solid $colorTheme_red;
}

.writingAnimation {
  display: flex;
  white-space: nowrap;

  flex-direction: row;
  align-items: baseline;
  margin-top: 3rem;
  height: 30px;

  &__text {
    width: 100%;

    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid white;
    animation: cursor 0.4s step-end infinite alternate;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 400px) {
  .home__subSection {
    padding: 2rem 0 0rem 0;
  }
  .home__section__aside {
    scale: 0.6;
    padding: 0;
  }
  .home__section__article {
    margin-top: 0;
  }
  .subSection {
    &__title {
      width: 100vw;
      padding: 0vw;
    }

    &__top {
      width: 100vw;
      //transform: translate(-30%, 10px);
      opacity: 0.2;
    }
    &__bottom {
      width: 100vw;
      //transform: translate(60%, -10px);
      opacity: 0.1;
    }
  }
}

//* for tablet :
@media (min-width: 600px) {
  .article__sub {
    padding: 4rem 20vw 2rem 20vw;
  }
  .home {
    // margin-left: 15vw;
    &__section {
      padding: 5vh 5vw;
      &__article {
        min-height: 50vh;
      }
    }
  }
}
@media (min-width: 1125px) {
  .home {
    &__section {
      //padding: 5vh 10vw;
      flex-direction: row;
      align-items: flex-start;
      //margin-top: 1rem;
      &__article {
        align-items: flex-start;
        padding: 0rem 8rem 0rem 2rem;
        min-height: 60vh;

        & button {
          margin: 3rem auto 2rem auto;
        }
      }
      &__aside {
        min-width: 300px;
        scale: 1;
        //padding: 0rem 2rem 2rem 2rem;
        margin-right: -4vw;
        margin-top: 4rem;
      }
    }
  }
  .article {
    padding: 0rem 0rem 0rem 0rem;
  }
}

@media (min-width: 1580px) {
  .home {
    &__section {
      padding: 5vh 12vw;
    }
    &__subSection {
      padding: 5vh 25vw;
    }
  }
}

//* for small_desktop :
@media (max-width: 1320px) {
  .home {
    &__section {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .picture__container {
    display: block;

    min-width: 250px;
    height: 300px;
    overflow: hidden;
    //border-radius: 0.4rem;
  }
  // .article {
  //   padding: 3rem 2rem 3rem 2rem;
  // }
}

//? .stickyPage ------------------------------//
//? TO PUT OUT SIDE : settings ?? ------------------------------//
.stickyPage {
  width: 100%;

  height: auto;
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: auto;
  right: auto;
  opacity: 1;
  animation: bgAnimate 0.5s ease-in-out;
}

@keyframes bgAnimate {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

#light .home {
  //background: #c6c4c4;

  background: linear-gradient(
    180deg,
    $color_page_bg_1_light 0%,

    $color_page_bg_2_light 100%
  );
}

#dark .home {
  //background: #000;
  //filter: brightness(70%);
  background: linear-gradient(
    180deg,
    $color_page_bg_1_dark 0%,

    $color_page_bg_2_dark 100%
  );
}
