//* LightMode colors :
$textColor_light: #141414;
$color_header_bg_1_light: #c7c0c7;
$color_header_bg_2_light: #fcf9fc;

$color_page_bg_1_light: #b2b2bc;
$color_page_bg_2_light: #f2f1ff;

//* DarkMode colors :
$textColor_dark: #fcf9fc;
$color_header_bg_1_dark: #534e4e;
$color_header_bg_2_dark: #1a1717;

$color_page_bg_1_dark: #353131;
$color_page_bg_2_dark: #221616;

//* colorTheme : DARK

$colorTheme_red: #ff4848;
$colorTheme_purple: #b428fa;
$colorTheme_yellow: #fff944;
$colorTheme_blue: #10ace6;
$colorTheme_green: #58eb50;

//* colorTheme : Light

$colorTheme_red-light: #b41717;
$colorTheme_purple-light: #8213ba;
$colorTheme_yellow-light: #f7df1e;
$colorTheme_blue-light: #1c99c6;
$colorTheme_green-light: #329f42;

#light {
  & #red {
    & .textColor {
      color: $colorTheme_red-light;
      text-shadow: 1px 1px 0px $textColor_dark;
    }
    & .bgColor {
      background: $colorTheme_red-light;
    }
    .activePage {
      color: $colorTheme_red-light;
      & svg path {
        fill: $colorTheme_red-light;
      }
    }
  }
  & #blue {
    & .textColor {
      color: $colorTheme_blue-light;
      text-shadow: 1px 1px 0px $textColor_dark;
    }
    & .bgColor {
      background: $colorTheme_blue-light;
    }
    .activePage {
      color: $colorTheme_blue-light;
      & svg path {
        fill: $colorTheme_blue-light;
      }
    }
  }
  & #green {
    & .textColor {
      color: $colorTheme_green-light;
      text-shadow: 1px 1px 0px $textColor_dark;
    }
    & .bgColor {
      background: $colorTheme_green-light;
    }
    .activePage {
      color: $colorTheme_green-light;
      & svg path {
        fill: $colorTheme_green-light;
      }
    }
  }
  & #purple {
    & .textColor {
      color: $colorTheme_purple-light;
      text-shadow: 1px 1px 0px $textColor_dark;
    }
    & .bgColor {
      background: $colorTheme_purple-light;
    }
    .activePage {
      color: $colorTheme_purple-light;
      & svg path {
        fill: $colorTheme_purple-light;
      }
    }
  }
  & #yellow {
    & .textColor {
      color: $colorTheme_yellow-light;
      text-shadow: 1px 1px 0px $textColor_light;
    }
    & .bgColor {
      background: $colorTheme_yellow-light;
    }
    .activePage {
      color: $colorTheme_yellow-light;
      & svg path {
        fill: $colorTheme_yellow-light;
      }
    }
  }
}

#red .textColor {
  color: $colorTheme_red;
}
#blue .textColor {
  color: $colorTheme_blue;
}
#green .textColor {
  color: $colorTheme_green;
}
#purple .textColor {
  color: $colorTheme_purple;
}
#yellow .textColor {
  color: $colorTheme_yellow;
}

#red .bgColor {
  background: $colorTheme_red;
}
#blue .bgColor {
  background: $colorTheme_blue;
}
#green .bgColor {
  background: $colorTheme_green;
}
#purple .bgColor {
  background: $colorTheme_purple;
}
#yellow .bgColor {
  background: $colorTheme_yellow;
}

.fillPathColor {
  cursor: pointer;

  &:hover {
    & > .fillPathColor {
      &--red > path {
        fill: $colorTheme_red;
      }
      &--green > path {
        fill: $colorTheme_green;
      }
      &--blue > path {
        fill: $colorTheme_blue;
      }
      &--purple > path {
        fill: $colorTheme_purple;
      }
      &--yellow > path {
        fill: $colorTheme_yellow;
      }
    }

    & > .textColor {
      &--red {
        color: $colorTheme_red;
      }
      &--green {
        color: $colorTheme_green;
      }
      &--blue {
        color: $colorTheme_blue;
      }
      &--purple {
        color: $colorTheme_purple;
      }
      &--yellow {
        color: $colorTheme_yellow;
      }
    }
  }
}

#light .fillPathColor {
  cursor: pointer;

  &:hover {
    & > .fillPathColor {
      &--red > path {
        fill: $colorTheme_red-light;
      }
      &--green > path {
        fill: $colorTheme_green-light;
      }
      &--blue > path {
        fill: $colorTheme_blue-light;
      }
      &--purple > path {
        fill: $colorTheme_purple-light;
      }
      &--yellow > path {
        fill: $colorTheme_yellow-light;
      }
    }

    & > .textColor {
      &--red {
        color: $colorTheme_red-light;
      }
      &--green {
        color: $colorTheme_green-light;
      }
      &--blue {
        color: $colorTheme_blue-light;
      }
      &--purple {
        color: $colorTheme_purple-light;
      }
      &--yellow {
        color: $colorTheme_yellow-light;
      }
    }
  }
}

#red .activePage {
  color: $colorTheme_red;
  & svg path {
    fill: $colorTheme_red;
  }
}
#blue .activePage {
  color: $colorTheme_blue;
  & svg path {
    fill: $colorTheme_blue;
  }
}
#green .activePage {
  color: $colorTheme_green;
  & svg path {
    fill: $colorTheme_green;
  }
}
#purple .activePage {
  color: $colorTheme_purple;
  & svg path {
    fill: $colorTheme_purple;
  }
}
#yellow .activePage {
  color: $colorTheme_yellow;

  & svg path {
    fill: $colorTheme_yellow;
  }
}
