@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.font {
  &__newHeader {
    font-size: clamp(0.9rem, 11px + 0.3vw, 2rem);
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  &__menu {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  &__title {
    font-size: clamp(1.2rem, 16px + 1vw, 2.4rem);
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  &__name {
    font-size: clamp(1.2rem, 16px + 1vw, 2.4rem);
    font-family: "Damion", cursive;
    letter-spacing: 0.5px;
  }
  &__work {
    display: inline-block;
    font-size: clamp(1.2rem, 16px + 1vw, 2.4rem);
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  &__basicText {
    font-size: clamp(0.9rem, 11px + 0.3vw, 2rem);
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: calc(1rem + 0.8vw);
  }
  &__label {
    font-size: clamp(0.9rem, 11px + 0.3vw, 2rem);
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: calc(1rem + 0.8vw);
  }
  &__input {
    font-size: clamp(1rem, 11px + 0.3vw, 1.5rem);
    font-weight: 700;
    letter-spacing: 0.8px;
  }
  &__pageTitle {
    font-size: clamp(1.2rem, 16px + 1vw, 2.4rem);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: calc(1rem + 0.8vw);
  }
  &__introTitle {
    font-size: clamp(1rem, 14px + 0.5vw, 2rem);
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  &__accordion {
    font-size: clamp(0.8rem, 11px + 1.5vw, 1.4rem);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 1), 0 5px 15px rgba(0, 0, 0, 1);
  }
  &__strongText {
    text-align: center;
    font-size: clamp(0.4rem, 10px + 0.3vw, 1.5rem);
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: calc(14px + 1.2vw);
  }
}

@media (min-width: 600px) {
  .font__accordion {
    font-size: clamp(0.8rem, 12px + 1.6vw, 1.6rem);
  }
  .font__strongText {
    font-size: clamp(0.5rem, 12px + 0.3vw, 1.5rem);
    letter-spacing: 1px;
    line-height: calc(14px + 1.2vw);
  }
}

#light .font__color {
  color: $textColor_light;
}
#dark .font__color {
  color: $textColor_dark;
}
