@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.font {
  &__menu {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  &__title {
    font-size: calc(16px + 1vw);
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  &__name {
    font-size: calc(16px + 1vw);
    font-family: "Damion", cursive;
    letter-spacing: 0.5px;
  }
  &__work {
    display: inline-block;
    font-size: calc(16px + 1vw);
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  &__basicText {
    font-size: calc(11px + 0.5vw);
    font-weight: 200;
    letter-spacing: 0.3px;
    line-height: calc(1rem + 0.8vw);
  }
  &__pageTitle {
    font-size: calc(16px + 1vw);
    font-weight: 500;
    letter-spacing: 2px;
    //line-height: calc(1rem + 0.8vw);
  }
  &__introTitle {
    font-size: calc(14px + 0.5vw);
    font-weight: 700;
    letter-spacing: 1.5px;
  }
}

#light .font__color {
  color: $textColor_light;
}
#dark .font__color {
  color: $textColor_dark;
}
